{% extends "base.html" %}
{% block title %} Wordle Score Calculator {% endblock %}
{% block content %}
<br>
<div>
    <p>1) Open NYT Wordle website, hightlight & copy your Wordle statistics</p>
<img src="/static/word_calc_step2.png" class="img-fluid" rel="instructions">
<br>
<br>
    <p>2) Open Wordle Score Calculator webpage and select Wordle</p>
<img src="/static/word_calc_step1.png" class="img-fluid" rel="instructions">
<br>
<br>
    <p>2) Paste your copied Wordle statistics into text box</p>
<img src="/static/word_calc_step3.png" class="img-fluid" rel="instructions">
<br>
<br>
    <p>3) Click on "Gimme my score!" button</p>
<img src="/static/word_calc_step4b.png" class="img-fluid" rel="instructions">
<br>
<br>
    <p>Done! Congratulations! You've successfully obtained your score!</p>
<img src="/static/wordle_calc_success_page.png" class="img-fluid" rel="instructions">
</div>
<br/>
  <h4 align="center">🟩🟩🟩🟩🟩</h4>
{% endblock %}
