{% extends "base.html" %}
{% block title %} Wordle Score Calculator {% endblock %}
{% block content %}
<br/>
<h3 align="center">Just some links</h3>
<br/>
<div class="list-group mx-auto w-75" align="center">
    <a class="btn btn-success btn-md" href="https://www.nytimes.com/games/wordle/index.html" role="button">Play Wordle!</a>
    <br/>
    <a class="btn btn-success" href="https://www.projecteugene.com/katapat.html" role="button">Play Katapat!</a>
    <br/>
    <a class="btn btn-success" href="https://github.com/dn288/wordle-calc" role="button">Github repository for this webapp</a>
    <br/>
    <a class="btn btn-success" href="https://word.tips/wordle-wizards/" role="button">Statistics for Wordle nerds</a>
    <br/>
    <a class="btn btn-success" href="https://www.buymeacoffee.com/dn288" role="button">Feel free to buy me a coffee if you enjoy the site!😊☕</a>
    <br/>
  </div>
<br/>
  <h4 align="center">🟩🟩🟩🟩🟩</h4>

{% endblock %}
