{% extends "base.html" %}
{% block title %} Wordle Score Calculator {% endblock %}
{% block content %}
<br/>
<h3 align="center">Just some links</h3>
<br/>
<div class="list-group mx-auto w-auto" align="center">
    <a href="https://www.nytimes.com/games/wordle/index.html" class="list-group-item list-group-item-action list-group-item-success">The New York Times Wordle</a>
    <a href="https://www.projecteugene.com/katapat.html" class="list-group-item list-group-item-action list-group-item-success">Katapat</a>
    <a href="https://github.com/dn288/wordle-calc" class="list-group-item list-group-item-action list-group-item-success">Github repository for this website</a>
    <a href="https://word.tips/wordle-wizards/" class="list-group-item list-group-item-action list-group-item-success">Statistics for Wordle nerds</a>
    <a href="https://www.buymeacoffee.com/dn288" class="list-group-item list-group-item-action list-group-item-success">Like my app? Feel free to buy me a coffee! :P</a>
  </div>

{% endblock %}
