{% extends "base.html" %}
{% block title %} Wordle Score Calculator {% endblock %}
{% block content %}

<br/>
<br/>
<form action="/" method ="POST">
    <h3 align="center">🟨🟩🟩🟩🟨</h3>
    <h3 align="center">Score Calculator</h3>
    <h3 align="center">🟩🟩🟩🟩🟩</h3>
    <br/>
    <div class="form-group">
        <select class="form-control mx-auto w-auto" id="game"  name="game">
            <option value="" selected disabled>Please select</option>
            <option value="wordle">Wordle</option>
            <option value="katapat">Katapat</option>
        </select>
        <label for="stats"></label>
        <input type="text"  autofocus class="form-control mx-auto w-auto" id="stats" name="stats" placeholder="Paste game stats here" autofocus=>
    </div>
    <br/>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center" align="center">
        <button type="submit" class="btn btn-success">Gimme my score!</button>
    </div>
    <br/>
    <br/>
    <h3 align="center">{{ score }}</h3>
</form>
{% endblock %}
